body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box !important;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins';
    position: relative;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    display: block !important;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}