@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .logo-header {
        position: sticky;
        top: 0;
        z-index: 20;
        padding: 10px 0;
        width: 100%;
    }

    .header-overlay {
        display: block;
    }

    .head-wrap {
        display: none;
    }

    .logo {
        padding: 16px 0;
        width: 40%;
    }

    .home-header .splide__arrow svg {
        width: 10px;
        height: 10px;
    }

    .home-header .splide__arrow {
        width: 24px;
        height: 24px;
    }

    .home-header .splide__arrow--next {
        right: 1%;
    }

    .home-header .splide__arrow--prev {
        left: 1%;
    }

    .quote-items {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .navbar {
        display: none;
    }

    .prev i,
    .next i {
        top: 50%;
        font-size: 24px;
        opacity: 0.5;
    }


    .slide {
        padding: 0 36px;
    }

    .slide-title * {
        font-size: 12px;
    }

    .top-title {
        font-size: 24px;
    }

    .wrap-bg {
        padding: 18px 0;
    }

    .wrap-btn .main-button {
        font-size: 10px;
        width: 90px;
        height: 30px;
    }

    .topic {
        width: 50%;
    }

    .topic p {
        font-size: 10px;
    }

    .services-wrap {
        padding: 36px 0 18px;
    }

    .services-box {
        margin-bottom: 96px;
        width: 48%; 
    }

    .services-item {
        height: 9.2rem;
    }

    .services-head h4 {
        font-size: 12px;
        padding-top: 9px;
    }

    .services-head span {
        font-size: 10px;
    }

    .overlay i {
        font-size: 24px;
    }

    .content-wrap {
        padding: 36px 0 18px;
    }

    .splide__arrow {
        width: 32px;
        height: 32px;
    }

    .partner-wrap {
        display: none;
    }

    .partner-box {
        width: 100%;
    }

    .partner-box img {
        width: 50%;
    }

    .content-box {
        width: 100%;
    }

    .career-wrap {
        flex-direction: column;
    }

    .career-box {
        width: 100%;
    }

    footer {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .footer-logo img {
        width: 40px;
        height: 40px;
        margin: auto 0;
    }

    .logo-alt p {
        font-size: 12px;
        text-align: left;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer-box h5 {
        font-size: 12px;
    }

    .link {
        padding-bottom: 4px;
    }

    .sector a {
        padding-bottom: 4px;
        font-size: 12px;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contact .top-contact-item a {
        font-size: 7px;
    }

    .footer-contact .top-contact-item i {
        display: none;
    }

    .partner-wrap {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .partner-wrap {
        display: none;
    }

    .partner-box {
        height: 4rem;
    }
    .career-text p {
        font-size: 12px;
    }

    .opening-job h5 {
        font-size: 16px;
    }

    #partner-slider {
        padding: 24px 0;
    }

    .project-head h5 {
        font-size: 22px;
    }

    .content-tabs-text {
        font-size: 10px;
    }

    .content-text {
        font-size: 12px;
    }

    section.content-section {
        padding: 0;
    }

    .text-head {
        padding-bottom: 10px;
    }

    .content-head h5 {
        padding-top: 24px;
        padding-bottom: 10px;
    }

    .services-box {
        width: 100%;
    }

    .services-item {
        height: 12rem;
    }

    .services-head h4 {
        font-size: 10px;
    }

    #partner-slider {
        display: block;
    }

    .slide-title p {
        width: 100%;
    }

}