body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    background: #dfdfdf96;
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    display: block;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 60px auto;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 71%;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 10px;
}


.top-contact-item i {
    display: inline-block;
    margin-right: 14px;
    color: #fcb401;

}

.links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.link-item a i {
    display: block;
    /* width: 36px;
    height: 36px; */
    transition: 0.17s ease;
    font-size: 20px;
}

.link-item a i:hover {
    color: #fcb401;
}

.logo img {
    display: block;
    width: 100%;
    /* height: 100%; */
}

.logo-header {
    padding: 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-items {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
}

.quote-items {
    display: flex;
    justify-content: flex-end;
}

.quote-items-box:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.quote-items-box {
    margin-right: 1.27rem;
    padding-right: 1.27rem;
    border-right: 1px solid #9292922a;
}

.quote-items-head {
    font-size: 16px;
}

.quote-items-head i {
    display: inline-block;
    margin-right: 8px;
}

.quote-items-head span {
    font-weight: 500;
}

.quote-items-box p {
    color: #929292;
    font-size: 13px;
    text-transform: uppercase;
}

.main-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    background-color: #fcb401;
    color: black;
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #fcb401;
    transition: 0.2s ease-in-out;
}

.quote-items-box:last-child a:hover {
    background-color: white;
    border: 0.5px solid #fcb401;
}

.quote-items-box:last-child span {
    display: block;
}

nav {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 20;
}

.nav-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}

.nav-item {
    color: white;
    text-transform: uppercase;
    transition: 0.25 ease-in-out;
    font-weight: 450;
    padding: 8px 36px 8px;
    opacity: 1;
    cursor: pointer;
    /* position: relative; */
}

.nav-item a {
    /* display: block; */
    position: relative;
}

.nav-item a::before {
    content: "";
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: #fcb401;
    position: absolute;
    bottom: -28px;
    left: 0;
    transition: 0.17s ease-in;
    transition: 0.3 ease-out;
}

.nav-item:hover a::before {
    width: 100%;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item a {
    display: block;
}

.home-header {
    position: relative;
    width: 100%;
    height: 78.1vh;
    overflow: hidden;
    background-color: black;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.home-header .prev,
.home-header .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 48px;
    cursor: pointer;
    font-weight: normal;
    z-index: 10;
}

.prev {
    left: -20%;
}

.next {
    right: -20%;
}

.slide-button:hover {
    background-color: #ffd15c;
    border-color: #ffd15c;
}

.slide-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: #fcb401;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.5s ease-in-out;
}

.slide.active .slide-title {
    opacity: 1;
    /* transform: translateY(0); */
    transition-delay: 0.2s;
}

.top-title {
    font-size: 32px;
    font-weight: 500;
    color: #ebebeb;
    padding: 40px 0 10px;
    text-transform: capitalize;
    transform: scale(0);
    transition: 0.4s ease-out;
    transition-delay: transform 0.2s;
}

.top-title:not(.active) {
    opacity: 0;
    transition: 0.25s;
}

.top-title.active {
    transform: scale(1);
    opacity: 1;
}

.slide-title h1 {
    font-size: 73px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.main-left {
    color: #fcb401;
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.3s ease-in, transform 0.5s ease-in-out;
}

.slide.active .main-left {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

.main-right {
    color: #ebebeb;
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.3s ease-in, transform 0.5s ease-in-out;
}

.slide.active .main-right {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

.slide-title p {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    padding: 40px 0 10px;
}

.slide-title p i {
    font-size: 24px;
}