.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px auto;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
}

.head-wrap {
    background: #dfdfdf96;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}

.top-contact-item:not(:last-child) {
    margin-right: 8px;
}

.top-contact-item i {
    display: inline-block;
    margin-right: 14px;
    color: #fcb401;
}

.top-contact-item a {
    color: #000;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 16%;
}

.link-item a i {
    display: block;
    transition: 0.17s ease;
    font-size: 20px;
}

.link-item a i:hover {
    color: #fcb401;
}

.logo-header {
    padding: 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-items {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
}

.quote-items {
    display: flex;
    justify-content: flex-end;
}

.quote-items-box:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}

.quote-items-box {
    margin-right: 1.27rem;
    padding-right: 1.27rem;
    border-right: 1px solid #9292922a;
}

.quote-items-head {
    font-size: 16px;
}

.quote-items-head i {
    display: inline-block;
    margin-right: 8px;
}

.quote-items-head span {
    font-weight: 500;
}

.quote-items-box p {
    color: #929292;
    font-size: 13px;
    text-transform: uppercase;
}

.main-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    background-color: #fcb401;
    color: black;
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #fcb401;
    transition: 0.2s ease-in-out;
}

.quote-items-box:last-child a:hover {
    background-color: white;
    border: 0.5px solid #fcb401;
}

.quote-items-box:last-child span {
    display: block;
}

nav.navbar {
    margin: 0;
    background-color: #000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: 0.3s ease-in-out;
}

.nav-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    transform: translateX(-36px);
}

.nav-item {
    color: white;
    text-transform: uppercase;
    transition: 0.25 ease-in-out;
    font-weight: 450;
    padding: 8px 36px 8px;
    opacity: 1;
    cursor: pointer;
    position: relative;
}

.nav-item a::before {
    content: "";
    width: 0%;
    height: 5px;
    border-radius: 2px;
    background-color: #fcb401;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: 0.17s ease-in;
    transition: 0.3 ease-out;
}

.nav-item:hover a::before {
    width: 100%;
}

.nav-item a {
    display: block;
    
}

.home-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}





.home-header .splide {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
}

.home-header .splide__slide {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.home-header .slide-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.home-header .splide__slide::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay for contrast */
    z-index: 2;
}

.splide__pagination {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.splide__pagination__page {
    background: #fff;
    width: 10px;
    height: 10px;
    opacity: 0.7;
    margin: 0 5px;
    display: inline-block !important;
    border: none;
    border-radius: 50%;
    transition: transform .2s;
}
.splide__pagination__page.is-active {
    background: #fcb401;
    transform: scale(1.2);
    opacity: 1;
}
.home-header .splide__arrow {
    opacity: 0.5;
    width: 46px;
    height: 46px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.home-header .splide { 
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.slide {
    width: 100%;
    height: 100%;
}


.home-header .splide__slide {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100%;
}

.home-header .splide__arrow--next {
    right: 25px;
}

.home-header .splide__arrow--prev {
    left: 25px;
}

.home-header .splide__track ,.home-header .splide__list {
    height: 100%;
}

.slide-title {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    color: #fcb401;
    line-height: 1;
    transition: .5s ease;
    position: relative;
    z-index: 3;
}

.top-title {
    font-size: 23px;
    font-weight: 500;
    color: #ebebeb;
    padding: 40px 0 10px;
    text-transform: capitalize;
    transition: 0.4s ease-out;
    transition-delay: transform 0.2s;
    padding-bottom: 18px;
}

  
.slide-title h1 {
    font-size: 48px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: inline-block;
}


.slide-title p {
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    line-height: 1.5;
    padding: 40px 0 10px;
    color: #fff;
    letter-spacing: 1px;
    
}

.slide-title p i {
    font-size: 24px;
}

section.top-wrap {
    background: url(../upload/top-wrap-1.jpg) no-repeat center;
    background-size: cover;
}

.wrap-bg {
    background-color: #fcb501c5;
    padding: 48px 0px;
}

.topic-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.topic p {
    color: #000;
    font-weight: 400;
    font-size: 24px;
}

section.services {
    background-color: #dfdfdf96;
}

.services-wrap {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    padding-top: 6rem;
    height: 85vh;
    flex-wrap: wrap;
}

.services-box {
    width: 30%;
    /* height: 5rem; */
    /* margin-bottom: 176px; */
}

.services-wrap .services-box:nth-child(3n + 1) {
    margin-left: 0;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 13.2rem;
}

.services-bg {
    height: 100%;
    width: 100%;
    border: 0;
    position: relative;
}

.services-bg img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.services-head * {
    text-align: center;
}

.services-head h4 {
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 4px;
    padding-top: 17px;
    letter-spacing: 0.5px;
}

.services-head span {
    color: #929292;
    font-size: 20px;
}

.overlay {
    background-color: #fcb4017a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 15;
    border-radius: 3px;
}

.services-bg:hover .overlay {
    opacity: 1;
}

.overlay a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    transition: 0.3s ease-in-out;
}

section.content-section {
    background: #fff;
    padding: 24px 0;
}

.content-wrap {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-box {
    width: 47.5%;
}

.content-head {
    text-transform: capitalize;
}

.content-head h5 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
}

.content-text {
    font-size: 14px;
    line-height: 1.5;
    color: #929292;
    padding: 28px 0;
    letter-spacing: 0.5px;
    line-height: 1.8;
    text-align: justify;
}

.content-btn {
    padding: 16px 0;
}

.content-btn .main-button {
    background: none;
    color: #fcb401;
}

.text-head {
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 26px;
    text-transform: capitalize;
    color: #444444
}

.content-tab {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 32px;
}

.content-icon {
    width: 17%;
    padding-right: 24px;
}

.content-icon i {
    display: block;
    font-size: 32px;
    color: #fcb501cb;
}

.content-tabs-text {
    color: #929292;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

.text p {
    text-align: justify;
}

section.project-section {
    background: url(../upload/project-bg.webp) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 48px 0 0;
    position: relative;
}

section.project-section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2b2b2be0;
}

.project-section .container {
    z-index: 5;
}

.project-head {
    text-align: center;
    padding-bottom: 40px;
}

.project-head a {
    color: #fff;
    transition: 0.3s ease-in-out;
}

.project-head a:hover {
    color: #fcb401;
}

.project-head a:hover+i {
    transform: translateX(2px);
}

.project-head h5 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px;
    color: #fcb401;
}

.project-head i {
    color: white;
    display: inline-block;
    margin-left: 8px;
    vertical-align: baseline;
    padding-top: -1px;
    transition: 0.3s ease-in-out;
}

.project-btn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #000000c0;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    transition: 0.2s ease-in-out;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.project-prev {
    left: 0;
}

.project-next {
    right: 0;
}

.project-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 48px 0;
    width: 100%;
    position: relative;
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
}

.projects-container {
    width: 75%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.project-box {
    width: 23.5%;
}

.project-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.project-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.project-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 80%;
    background-color: #161616a1;
    color: #fff;
    transition: 0.3s ease-in-out;
    opacity: 0;
    z-index: 5;
}

.project-img {
    transition: 0.3s ease-in-out;
}

.project-bg:hover .project-overlay {
    opacity: 1;
}

.project-bg:hover .project-img {
    transform: scale(1.07);
}

.project-alt h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 20px 0 8px;
}

.project-alt span {
    font-size: 14px;
    color: #ebebeb;
    font-style: italic;
}

section.project-section {
    padding: 48px 0;
}

.partner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 3rem 0;
    filter: grayscale(100%);
}

.partner-box {
    width: 8.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.career-section {
    background: url(../upload/career-bg.webp) no-repeat center;
    background-size: cover;
    padding: 48px 0;
    position: relative;
}

.career-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 48px 0 16px;
}

.career-box {
    width: 45.5%;
}

.career-head {
    padding-top: 16px;
    text-align: center;
}

.career-head h5 {
    font-size: 28px;
    font-weight: 400;
    color: #fcb401;
}

.career-text p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 38px;
    text-align: justify;
    font-weight: 300;
}

.career-btn {
    margin-top: 18px;
}

.career-btn .main-button {
    width: initial;
    height: initial;
    padding: 16px 24px;
    background-color: transparent;
    color: #fcb401;
    font-weight: 600;
    border-width: 2px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.2s ease-in-out;
}

.career-btn .main-button:hover {
    background-color: #fcb401;
    color: #fff;
}

.opening-job h5::after {
    content: "";
    display: block;
    width: 75%;
    height: 1px;
    background-color: #fcb5019a;
    margin-top: 12px;
    transition: 0.3s ease-in-out;
}

.opening-job {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 48px;
}

.opening-job h5 {
    position: relative;
    font-weight: 500;
}

.opening-job a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.opening-job h5:hover::after {
    background-color: #fcb401;
}

footer {
    background-color: #2e2e2e;
    color: #fff;
    padding: 48px 0;
}

.footer-wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    right: 0;
    bottom: 0;
}
.footer-bottom {
    text-align: center;
    background-color:#000;
    color:rgb(204, 204, 204);
    padding: 32px 0;
}


.footer-contact .top-contact-item a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.footer-contact .top-contact-item {
    padding-bottom: 10px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.footer-box {
    width: 20.5%;
    position: relative;
}

.footer-box:last-child {
    width: 26%;
}

.footer-logo img {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 10px;
}

.logo-alt p {
    font-size: 14px;
    padding: 16px 0;
}

.footer-links {
    text-align: center;
}

.footer-links a {
    padding-bottom: 10px;
    font-size: 16px;
    color: #929292;
    text-align: center;
    transition: 0.3s ease-out;
}

.footer-links a:hover {
    color: #fff;
}

.footer-box::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #f1f1f1;
    margin-top: 24px;
}

.link {
    padding-bottom: 10px;
}

.footer-sectors {
    text-align: center;
}

.footer-box h5 {
    font-size: 18px;
    padding-bottom: 16px;
    font-weight: 500;
    color: #fcb401;
}

.sector a {
    display: inline-block;
    color: #929292;
    padding-bottom: 10px;
}

.splide-project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.splide {
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 13;
}

.splide__slide {
    padding: 0 10px;
    height: 100%;
}

.splide__arrow {
    background-color: #fcb401;
    color: #fff;
    border: 0;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.splide__arrow--next {
    right: 0rem;
}

.splide__arrow--prev {
    left: 0rem;
}

.splide__pagination {
    bottom: -2rem;
    z-index: 10;
    position: relative;
}

.splide__pagination__page {
    background: #ffffff;
    width: 10px;
    height: 10px;
    opacity: 0.7;
    margin: 0 5px;
}

.splide__pagination__page.is-active {
    background: #fcb401;
    transform: scale(1.2);
    opacity: 1;
}

.mobile-menu {
    display: none;
    position: relative;
    z-index: 20;
}

.menu-close {
    cursor: pointer;
    width: 100%;
}

.mobile-menu img {
    color: #c9c9c9;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.mobile-navbar {
    position: fixed;
    height: 100%;
    width: 0%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #fff;
    z-index: 25;
    transition: 0.5s ease-in-out;
}

.mobile-navbar .mobile-nav-box {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-navbar .mobile-nav-box .mobile-nav-item {
    padding: 16px 16px 16px 24px;
    text-transform: uppercase;
    color: #000;
    width: 100%;
    font-weight: 500;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: 0.3s ease-in-out;
}

.mobile-nav-item:hover {
    background-color: #fcb401;
    color: #fff;
}

.mobile-nav-item:hover a {
    transform: translateX(16px);
}

.mobile-nav-item:focus {
    background-color: #fcb401;
    color: #fff;
}

.mobile-nav-item:active {
    background-color: #fcb401;
    color: #fff;
}

.mobile-nav-item a {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}

.mobile-nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 75%;
    height: 1px;
    background-color: #0000001e;
    box-shadow: 0 0 3px 0 rgba(180, 180, 180, 0.144);
    margin-top: 16px;
}

.mobile-nav-item:last-child::after {
    display: none;
}


.body-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000093;
    z-index: 9;
    transition: 0.4s ease-in-out;
    animation: fadeIn 0.4s ease-in-out;
}

.mobile-navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000093;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

.mobile-navbar-overlay.body-overlay {
    opacity: 1;
    visibility: visible;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #00000093;
    z-index: 5;
    transition: 0.2s ease-in-out;
}

.mobile-navbar-layer {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 24;
}

#partner-slider {
    display: none;
}

.page-header {
    background: url('../upload/slider-1.webp') no-repeat center center/cover;
    padding: 100px 0;
    text-align: center;
    height: 50vh;
    color: white;
}

.page-header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header h1 {
    font-size: 64px;
    margin-bottom: 10px;
}
.page-header p {
    font-size: 32px;
    /* color:#fcb401; */
}

.about-intro, .about-mission, .about-values, .about-services, .why-choose-us {
    /* background: white; */
    /* padding: 50px 0; */
    /* margin: 20px 0; */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    transition: .3s ease;
    position: relative;
}


.about-services, .about-values, .why-choose-us, .about-safety {
    padding: 64px 0;
}
.about-services h2, .about-values h2, .why-choose-us h2, .about-safety h2 {
    padding-bottom: 36px;
}
.about-text {
    width: 55%;
}
.why-choose-us  p {
    padding-bottom: 24px;
}
.feature-box p {
    padding-left: 31px;
}
.about-intro:hover, .about-mission:hover, .about-values:hover, .about-services:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.about-intro {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}
.about-intro .container, .about-mission .container  {
    height: initial;
    display: inline-grid;
}
.about-bg {
    background: url('../upload/slider-1.webp') no-repeat center center/cover;
    position: absolute;
    inset: 0;
    /* z-index: -1; */
    width: 50%;
}
.about-mission {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mission-bg {
    background: url('../upload/slider-2.webp') no-repeat center center/cover;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    color: white;
}
.mission-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000a1;
}
.timeline {
    position: relative;
    color:#fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    padding-left: 48px;
    height: 100%;
}
.timeline-item {
    padding: 24px 0;
    position: relative;
}

.timeline-item:not(:last-child):after {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #fcb401;
    border-radius: 32px;
    left: 16px;
    bottom: -14px;
}
.mission-bg .container  {
    height: 100%;
}
.about-mission .container .about-content {
    justify-self: flex-start;
    height: 100%;
    align-self: center;
}
.about-content {
    width: 45%;
    justify-self: flex-end;
}
.about-content p {
    padding: 20px 0;
    color:#353535;
    font-weight: 300;
}
.key-points {
    color:#353535;
    font-weight: 300;
}
.about-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about-values ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-values li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
    gap: 10px;
    width: 32%;
}
.about-values li i {
    color: #fcb401;
    font-size: 24px;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}
.service-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-item i {
    font-size: 36px;
    color: #fcb401;
    margin-bottom: 10px;
}
.service-item h3 {
    color: #222;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.service-item h3 {
    color: #222;
    font-size: 20px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
    color: #555;
}
.about-cta {
    background: #fcb401;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    margin: 28px 0 0;
}
.about-cta h2 {
    font-size: 28px;
}
.about-cta .main-button {
    display: inline-flex;
    padding: 6px 12px;
    background: white;
    color: #fcb401;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 20px;
}

.about-cta .main-button:hover {
    background: #fff;
    color: #222;
    text-decoration: none;
}